.choice-car {
	display: flex;
	flex-direction: column;

	&__blocks {
		display: flex;
		flex-direction: column;
	}

	&__block {
		display: flex;
		@include adaptiv-value(border-radius, 45, 25, 1);
		transition: all 0.3s ease;
		cursor: pointer;
		gap: 30px;
		@include adaptiv-value-in-min(margin-left, -120, -15, 940, 375);
		@include adaptiv-value-in-min(margin-right, -120, -15, 940, 375);
		@include adaptiv-value-in-min(padding-left, 120, 15, 940, 375);
		@include adaptiv-value-in-min(padding-right, 120, 15, 940, 375);
		@include adaptiv-value(padding-top, 10, 15, 1);
		@include adaptiv-value(padding-bottom, 10, 15, 1);
		@media screen and (max-width: 670px) {
			flex-direction: column;
		}
	}

	&__img {
		width: 100%;
		max-width: 340px;
		@media screen and (max-width: 670px) {
			min-width: 100%;
		}

		img {
			border-radius: 20px;
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		row-gap: 12px;
		@media screen and (max-width: 670px) {
			align-items: stretch;
		}
	}

	&__title {
		font-weight: 700;
		font-size: 24px;
		line-height: 130%;
		color: var(--text-black);
		transition: all 0.3s ease;
	}

	&__price {
		font-weight: 700;
		font-size: 24px;
		line-height: 130%;
		color: var(--primary-color);
	}

	&__price-total {
		margin-right: 25px;
	}

	// &__price-month {
	// }

	&__mileage-owner {
		display: flex;
		font-weight: 400;
		font-size: 18px;
		line-height: 135%;
		color: var(--text-grey);
	}

	&__mileage {
		margin-right: 25px;
	}

	// &__owner {
	// }

	&__charact {
		font-weight: 400;
		font-size: 18px;
		line-height: 135%;
		color: var(--text-grey);
	}

	&__tel {
		border-radius: 15px;
		padding: 11px 15px;
		font-weight: 700;
		font-size: 18px;
		line-height: 135%;
		text-align: center;
		color: var(--text-black);
		background-color: var(--bg-color);
		transition: all 0.3s ease;
	}

	&__block:hover {
		background-color: var(--red-light);

		.choice-car__title {
			color: var(--primary-color);
		}

		.choice-car__tel {
			color: var(--primary-color);
			background-color: var(--white);
		}
	}

	&__btn {
		@include adaptiv-value(margin-top, 20, 15, 1);
	}
}

.block-choice {
}

.btn-white {
}
