.owner {
	&__block {
		display: flex;
		flex-direction: column;
		@include adaptiv-value(row-gap, 20, 15, 1);
	}

	&__message {
		font-weight: 400;
		font-size: 20px;
		line-height: 135%;
		@media screen and (max-width: 650px) {
			font-size: 18px;
			line-height: 125%;
		}
		color: var(--text-black);
	}

	&__checkbox {
		position: relative;
		display: flex;
		justify-content: space-between;
		@include adaptiv-value(gap, 16, 10, 1);
		@media screen and (max-width: 950px) {
			flex-direction: column;
		}
	}

	&__checkbox-block {
		$ptb-b: 38;
		$ptb-s: 18;
		$plr-b: 52;
		$plr-s: 108;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 10px;
		width: 100%;
		background-color: var(--choice-multi);
		cursor: pointer;
		gap: 16px;
		@include adaptiv-value(gap, 16, 10, 1);
		@include adaptiv-value(padding-top, $ptb-b, $ptb-s, 1);
		@include adaptiv-value(padding-bottom, $ptb-b, $ptb-s, 1);
		@include adaptiv-value(padding-left, $plr-b, $plr-s, 1);
		@include adaptiv-value(padding-right, $plr-b, $plr-s, 1);
	}

	&__checkbox-text {
		font-weight: 500;
		@include adaptiv-value(font-size, 20, 18, 1);
		line-height: 135%;
		text-align: center;
		color: var(--primary-color);
	}

	&__checkbox-check {
		$right-top: 15px;
		position: absolute;
		right: $right-top;
		top: $right-top;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid #e4e4e4;
		border-radius: 5px;
		width: 22px;
		height: 22px;
		background-color: var(--white);
		@media screen and (max-width: 750px) {
			$right-top: 10px;
			right: $right-top;
			top: $right-top;
		}

		svg {
			opacity: 0;
			visibility: hidden;
		}
	}

	&__checkbox-block:hover {
		background-color: var(--red-light);
	}

	&__checkbox-block.active {
		background-color: var(--primary-color);

		.owner__checkbox-text {
			color: var(--white);
		}

		.owner__checkbox-check {
			svg {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}
